*{
    margin: 0%;
    padding: 0%;
   
 
}
.bg{
    background: rgba(0, 0, 0, 0.5) url(/img/Storm.jpg);
    background-size: cover;
   color: white;
   border: 2px solid black;
}
.top{
    /* padding-top: 10%; */
    display: flex;
    justify-content: center;
}
.top img{
   
    margin: 20px;
}
.tempNum{
   
    font-size: 100px;
}
.temp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin: 20px;
}
.c{
    font-weight: lighter;
}
.location{
    display: flex;
    justify-content: center;
    
    padding: 20px;
}
.others{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.feels{
    display: flex;
    flex-direction: row;
    margin: 10px;
}
.wind{
    display: flex;
    flex-direction: row;
    margin: 10px;
}


/*  */
